# Entrada e saida de dados

In [78]:
dia = int(input("dia: "))
mes = str(input('mes: '))
ano = int(input('ano: '))
x = bool(input('x: '))

dia: 20
mes: maio
ano: 2023
x: 1

In [79]:
dia,mes,ano,x

(20, 'maio', 2023, True)

In [81]:
print('Hoje é dia: ', dia)
print('{} de {} de {}'.format(dia,mes,ano))

Hoje é dia:  20
20 de maio de 2023

# PYTHON FUNCTIONS

In [5]:
x = 1
y = 2
x+y

3

In [6]:
x

1

In [19]:
def add_numbers(x,y):
    return x+y
add_numbers(1,2)

3

In [6]:
def add_numbers(x,y,z=None):
    if(z == None):
        return x+y
    return x+y+z
print(add_numbers(1,2))
print(add_numbers(1,2,9))

3
12

In [18]:
def do_math(a, b, kind= 'noadd'):
  if(kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2,'add')

3

Tipos e sequencias

In [1]:
type('Isto é uma string')

str

In [2]:
type(None)

NoneType

In [3]:
type(1.0)

float

In [4]:
type(1)

int

In [7]:
type(add_numbers)

function

In [15]:
x = (1,'a',2,'b')
type(x)

tuple

In [16]:
x = [1,'a',2,'b']
print(x)
x.append(2)
x

[1, 'a', 2, 'b']

[1, 'a', 2, 'b', 2]

In [17]:
for item in x:
    print(item)

1
a
2
b
2

In [21]:
y = "bola"
for i in y:
    print(i)

b
o
l
a

In [22]:
i = 0
while(i != len(x)):
    print(x[i])
    i= i+1

1
a
2
b
2

In [23]:
[1,2]+[2,3]

[1, 2, 2, 3]

In [24]:
[1]*3

[1, 1, 1]

In [26]:
1 in x

True

In [43]:
x = "Isto é uma string"
print(x[0])
print(x[1:3])
print(x[-6:0])
print(x[:6])

I
st

Isto é

In [36]:
x[-1]

'g'

In [46]:
PrimNome="Vanessa"
segNome = "Silva"

print(PrimNome + ' ' + segNome)
print(PrimNome * 3)
print('Va' in PrimNome)

Vanessa Silva
VanessaVanessaVanessa
True

In [49]:
PNome = "Vanessa Machado Silva".split(' ')[0]
SNome = "Vanessa Machado Silva".split(' ')[-1]
print(SNome)

Silva

In [52]:
x = {'Vanessa':'vanessas@gmail.com','Ana':'Ana@gmail.com'}
print(x['Ana'])

Ana@gmail.com

In [55]:
for name in x:
    print(name)

Vanessa
Ana

In [54]:
for email in x.values():
    print(email)

vanessas@gmail.com
Ana@gmail.com

In [57]:
for nome, email in x.items():
    print(nome)
    print(email)

Vanessa
vanessas@gmail.com
Ana
Ana@gmail.com

In [58]:
x = ('Vanessa','Silva','VanessaSilva@gmail.com')
pnome, snome, email =x
print(pnome)
print(snome)
print(email)

Vanessa
Silva
VanessaSilva@gmail.com

In [64]:
print('Dia {}, de {} de {}'.format(20,'maio',2023))

Dia 20, de maio de 2023